body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font: regular;
}

h1,
h2 {
  font-weight: bold;
}

h3 {
  font-weight: medium;
}

h2,
h3 {
  color: #2e2f42;
}

address {
  font-style: normal;
}

span {
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}
.menu,
.contact-info {
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu {
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.menu:hover,
.menu:focus {
  color: #404bbf;
}

.menu:active {
  color: #404bbf;
  text-decoration: underline;
}

.contact-info {
  color: #2e2f42;
}

.contact-info:hover,
.contact-info:focus {
  color: #404bbf;
}

.hero,
footer {
  background-color: #2e2f42;
  color: #ffffff;
}

button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

.team {
  background-color: #f4f4fd;
}
